body{
	background-color:#e5e5e5;
	color: rgb(30, 30, 30);
	font-family: "Poppins", sans-serif;
	font-size: 17px;
	font-weight: lighter;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
h1
{
	color: #0077b6;
	font-family: serif;
	font-weight: 30px;	
	letter-spacing: 0px;
	font-size: 30px;
}

h2
{
	color: #00b4d8;
	font-family: serif;
	font-weight: 900;	
	letter-spacing: 0px;
	font-size: 30px;
}
h3{
	color: #90e0ef;
	font-family: serif;
	font-weight: 900;	
	letter-spacing: 0px;
	font-size: 30px;
}

a:hover{
	color: #00b4d8;
}


.container {
width: 700px;
margin: 40px auto;
} 
.card-white {
background-color: white;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
border-radius: 4px;
margin: 20px 0px;
text-align: center;
}

.img-circle	{
	border-radius: 90%;
}
.btn-blue {
	background-color:black ;
	color: White;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:Hover {
	background-color: darkred;
	color: white;
}
.list-inline {
	list-style: none; 
	padding-left:0px;
}
.list-inline li {
display: inline;
padding: 10px;
}
.list-inline i {
	font-size:50px;
	color: black;
}
.list-inline i:hover {
	color:darkred;
}

#introduction p {
margin-bottom: 40px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
